

<div class="alert alert-secondary" role="alert">
  <p>
  
  <h1><%= @friend.first_name %>
  <%= @friend.last_name %></h1>
</p>
<h6>

  
  <%= @friend.email %> |

  
  <%= @friend.phone %> | 

  
  <%= @friend.twitter %>

</h6>
<br/>
<p>
<%= link_to 'Edit', edit_friend_path(@friend), class:"btn btn-secondary"%> 
<%= link_to 'Back', friends_path, class:"btn btn-dark"%>
</p>
</div>








